html,
body,
.pyg_view {
  height: 100%;
}
img {
  width: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
.pyg_view {
  overflow: scroll;
}
.pyg_header {
  padding: 5px;
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
}
.pyg_footer {
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
}
.pyg_footer a {
  color: #000;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  flex: 1;
}
.pyg_footer a i {
  font-size: 18px;
}
.pyg_footer_tool {
  display: flex;
  background-color: #fff;
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #666;
  text-align: center;
}
.pyg_footer_tool a {
  flex: 1;
}
.pyg_footer_tool a:nth-child(-n+2) {
  color: #333;
}
.pyg_footer_tool a:nth-child(-n+2) .contact_name {
  font-size: 12px;
}
.pyg_footer_tool a:nth-last-child(-n+2) {
  line-height: 45px;
  font-size: 13px;
  color: #fff;
}
.pyg_footer_tool .buy_btn {
  background-color: #f0ad4e;
}
.pyg_footer_tool .shopping_car_btn {
  background-color: #dd524d;
}
