@import "common.less";
.pyg_view{
  padding: 10px;
  form{
    // 验证码的div
    .vcode_row{
      // 获取验证码的按钮
      position: relative;
      .get_code_btn{
   
        position: absolute;
        top: 5px;
        right: 5px;
        // 如何让按钮的宽度 变成 默认值  自动根据内容撑开标签
        width: auto;
        padding: 6px;
      }
    }
    
  }

  // 自己的工具栏按钮
  .register_tool{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    a{
      width: 48%;
    }
  }
}